node-red.text
[{"id":"1fa42192.52c06e","type":"twitter in","z":"920f2de8.5cc308","twitter":"","tags":"#mhs","user":"false","name":"Get Tweets","topic":"tweets","inputs":0,"x":86,"y":423.25,"wires":[["e5cff854.11d2c8","ad082ed5.648108"]]},{"id":"e5cff854.11d2c8","type":"debug","z":"920f2de8.5cc308","name":"","active":true,"console":"false","complete":"false","x":301,"y":422.75,"wires":[]},{"id":"ad082ed5.648108","type":"sentiment","z":"920f2de8.5cc308","name":"Compute Sentiment","x":368,"y":255,"wires":[["7cf02258.578fdc","626ae247.05cfb4"]]},{"id":"7cf02258.578fdc","type":"debug","z":"920f2de8.5cc308","name":"","active":true,"console":"false","complete":"sentiment.score","x":635,"y":255,"wires":[]},{"id":"626ae247.05cfb4","type":"switch","z":"920f2de8.5cc308","name":"Send only valid ","property":"sentiment.score","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":3,"x":545,"y":76,"wires":[[],["b021ef8a.281a3"],["b021ef8a.281a3"]]},{"id":"b021ef8a.281a3","type":"function","z":"920f2de8.5cc308","name":"Send to the thumb","func":"sent = \"\";\nmarker = \"\";\n\nval = msg.sentiment.score;\nsave = msg.payload;\n\nmsg.payload = {};\n\nif (msg.sentiment.score<0) {\n                             marker=\"n\";\n                           }\nelse { \n       marker='p';\n}\n\nfor (i=0; i<Math.abs(msg.sentiment.score);i++)\n{\n    sent=sent+marker;\n}\n\nvar regexp = new RegExp('#([^\\\\s]*)','g');\nsave = save.replace(regexp, '');\n\n\nsent = sent + \",\" + save +\"\\n\";\nmsg.payload = sent;\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":82,"wires":[["b7424875.e2794"]]},{"id":"6b731308.6d5cf4","type":"inject","z":"920f2de8.5cc308","name":"Great day","topic":" what a great day","payload":"What a great day","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":118.5,"wires":[["ad082ed5.648108"]]},{"id":"fe149238.11056","type":"inject","z":"920f2de8.5cc308","name":"Terrible day","topic":"What a bad day","payload":"What a bad day","payloadType":"str","repeat":"","crontab":"","once":false,"x":111,"y":265.5,"wires":[["ad082ed5.648108"]]},{"id":"b7424875.e2794","type":"serial out","z":"920f2de8.5cc308","name":"","serial":"bb4b5cd1.80497","x":777,"y":178.5,"wires":[]},{"id":"bb4b5cd1.80497","type":"serial-port","z":"","serialport":"/dev/cu.usbserial-A900cfiv","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
